@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.swal-title, .swal-popup, .swal-confirm, .swal-cancel, .swal-toast-title  {
  font-family: "Quicksand"
}
/* overrides sweet alert default loader  */
.swal2-popup .swal2-loader {
  border-color: #9c27b0 transparent transparent transparent !important;
}
/* ensures toast is above appBar */
.swal-toast-container {
  z-index: 2000 !important; 
}
/* blob like effect */
@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
